.layout-menu{
  background-color: $menu-primary-color;
  width: 100%;
  height: calc(100% - 20px);
  margin-top: 10px;
  overflow: hidden;
  border-radius: 6px;
  padding: 10px 0;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logout{
    color: #ffffff;
    cursor: pointer;
  }

  .menu-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .menu-item{
    width: calc(100% - 20px);
    height: 40px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
    gap: 10px;
    transition: .3s;
    border-radius: 4px;

    i{
      font-size: 20px;
    }

    span{
      min-width: 120px;
      line-height: 12px;
      display: inline-block;
      text-align: left;
      opacity: 0;
      transition: .3s;
      font-size: 12px;
    }
  }

  .menu-item:hover{
    background-color: #fff;
    color: $primary-color;
  }

  .selected{
    background-color: #fff;
    color: $primary-color;
  }
}

.show .menu-item span{
  opacity: 1;
}