@font-face {
  font-family: "iconfont"; /* Project id 4508488 */
  src: url('//at.alicdn.com/t/c/font_4508488_jl0r6rnwhlk.woff2?t=1713172048932') format('woff2'),
       url('//at.alicdn.com/t/c/font_4508488_jl0r6rnwhlk.woff?t=1713172048932') format('woff'),
       url('//at.alicdn.com/t/c/font_4508488_jl0r6rnwhlk.ttf?t=1713172048932') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e6b8";
}

.icon-icon_config:before {
  content: "\e635";
}

.icon-menu:before {
  content: "\e865";
}
