@font-face {
  font-family: "iconfont"; /* Project id 4508488 */
  src: url('//at.alicdn.com/t/c/font_4508488_xnrmvlw02m.woff2?t=1714356192306') format('woff2'),
       url('//at.alicdn.com/t/c/font_4508488_xnrmvlw02m.woff?t=1714356192306') format('woff'),
       url('//at.alicdn.com/t/c/font_4508488_xnrmvlw02m.ttf?t=1714356192306') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanjing_yincang:before {
  content: "\eb45";
}

.icon-tuichu:before {
  content: "\e617";
}

.icon-you:before {
  content: "\e74d";
}

.icon-user:before {
  content: "\e608";
}

.icon-guanbi:before {
  content: "\eca0";
}

.icon-download:before {
  content: "\e614";
}

.icon-search:before {
  content: "\e893";
}

.icon-home:before {
  content: "\e6b8";
}

.icon-icon_config:before {
  content: "\e635";
}

.icon-menu:before {
  content: "\e865";
}
