@font-face {
  font-family: "iconfont"; /* Project id 4508488 */
  src: url('//at.alicdn.com/t/c/font_4508488_h7m3ikdputv.woff2?t=1713234701761') format('woff2'),
       url('//at.alicdn.com/t/c/font_4508488_h7m3ikdputv.woff?t=1713234701761') format('woff'),
       url('//at.alicdn.com/t/c/font_4508488_h7m3ikdputv.ttf?t=1713234701761') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e893";
}

.icon-home:before {
  content: "\e6b8";
}

.icon-icon_config:before {
  content: "\e635";
}

.icon-menu:before {
  content: "\e865";
}
