// 全局样式变量
$primary-color: #000000;                // 主题色
$menu-primary-color: #00000071;         // 菜单栏背景色
$nprogress-color: #aaff6a;              // nprogress颜色
$container-background-color: #f6ffef;   // 背景底色
$mask-layer-color: #00000095;           // 遮罩层颜色
$dialog-background-color: #ffffff;      // 弹窗背景颜色