.app-container{
  // background-image: url('https://lh3.googleusercontent.com/ci/AL18g_T2ScI6C90HYU3Xzs34IwyFHkawsgOXhAd9Et-gqmx1WbvbEBXeG5wrlpxwA67PN7rpWWYbqJY=w3420-h1672-pp-rw-v1');
  // background-size: auto 100%;
  background-color: $container-background-color;
}

.el-aside{
  height: 100vh;
  transition: .3s;
  padding-left: 10px;
}

.el-header{
  background-color: $menu-primary-color;
  width: calc(100% - 20px);
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 6px;
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 1;
}

.loader-login-enter-active, .loader-login-leave-active {
  transition: opacity 0.3s;
}

.loader-login-enter, .loader-login-leave-to {
  opacity: 0;
}

.el-main{
  margin: 10px;
  padding: 0;
  // background-color: #eaeaeacd;
  border-radius: 6px;
  box-sizing: border-box;
  overflow: hidden;
  // backdrop-filter: blur(10px);
}