.app-container{
  // background-image: url('@/assets/images/Cyberpunk 2077.png');
  background-color: #f0f0f0;
}

.el-aside{
  height: 100vh;
  transition: .3s;
  padding-left: 10px;
}

.el-header{
  background-color: $menu-primary-color;
  width: calc(100% - 20px);
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 6px;
  backdrop-filter: blur(10px);
}